.form-control{
	background-color: #b9ffa8;
	border-radius: 10px;
	width: 80%;
	margin: auto;
	margin-top: 10px;
}

.meth-uri{
	width: 95%;
	padding-top: 25px;
	margin: auto;
}

.codeField{
	width: 95%;
	border: 2px solid black;
	border-radius: 5px;
	padding-top: 25px;
	margin: auto;
}

.buttons{
	text-align: center;
	width: auto;
	height: 80px;
	padding-top: 25px;
	margin: auto;
}