.form-control{
	background-color: white;
	padding: 20px;
}

.table-responsive{
	width: 100%;
	max-height: 400px;
	overflow: auto;
	background-color: #eee;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 0px;
}

.table-responsive label{
	display: block;
	text-align: center;
	color: #666;
	margin: 10px 0px;
}
