.cy-button {
	color: white; 
	border: 0px;
	background-color: #385372;
	margin: 10px;
	border-radius: 3px;
	width: auto;
	padding: 5px 50px;
	height: 40px;
	-webkit-transition: transform 2s; /* Safari */
    transition: all 300ms;
    box-shadow: 0px 0px 0px #666;
    font-size: 1.05em;
}

.cy-button:hover{
	box-shadow: 3px 3px 3px #666;
	transform: translate(-3px, -2px);
}

.navButton{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border-bottom: 2px solid transparent;
}

.navButton:hover, navButton:active{
	border-bottom: 2px solid #385372;
}