/* SELECT E INPUT *************************/
.mainInput{
    border: none;
    background-color: transparent;
    border-radius: none;
    display: block;
    width: 70%;
    height: 50px;
    margin-left: 10px;
}

.secondInput{
    border: none;
    text-align: center;
    border-radius: 3px;  
    width: 100%;
}