.topNavMenuContainer{
	background-color: #d1baff;
	color: white;
	text-align: center;
	margin: auto;
	border-radius: 5px;
}

@media only screen and (min-width: 600px) {
    .topNavMenuContainer{
        width: 90%;
    }
}

@media only screen and (min-width: 800px) {
    .topNavMenuContainer{
        width: 80%;
    }
}

.navLinks{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.navLinks li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
