.topNavMenuContainer {
	background-color: #d1baff;
	color: white;
	text-align: center;
	width: 80%;
	margin: auto;
	border-radius: 5px;
}

.navLinks{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.navLinks li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
