.cyDropdown{
	color: white;
	background-color: orange;
	border: none;
	height: 40px;
	border-radius: 3px;
	margin: 10px;
}

.cyDropdown option{
	background-color: #eee;
	color: #222;
	font-size: 1.1em;
	line-height: 500px;
}