.cyDropdown{
	color: #222;
	background-color: #ddd;
	border: none;
	height: 43px;
	border-radius: 3px;
	margin-right: 1%;
}

.cyDropdown option{
	background-color: #eee;
	color: #222;
	font-size: 1.1em;
	line-height: 500px;
}