/// implements _theme
@import '../../../styles/theme';

$main-black: #000;
$main-white: #fff;
$main-red: #f00;
$main-subh: #2f3472;

.masterLayout {
  font-family: Arial;
  margin: 0;
  padding: 0;

  h1,
  h2 {
    margin: auto;
    padding: 0;
    text-align: left;
    transform: translateX(-10px);
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    color: unquote('rgb(#{$color-secondary})');
    font-size: 15px;
    font-style: italic;
    line-height: 20px;
  }
}

.headLil {
  color: unquote('rgb(#{$color-secondary})');
  display: inline-block;
  font-size: 0.5em;
  margin-bottom: 0.5em;

  &::first-letter {
    color: unquote('rgb(#{$color-primary})');
    font-size: 2em;
  }
}

.appContainerHeader {
  background-color: $main-white;
  color: $main-black;
  padding: 15px;
  text-align: center;
}

.fullBg{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}
