.masterLayout{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}

.masterLayout h1, .masterLayout h2 {
	text-align: left;
	width: 80%;
	padding: 0px;
	margin: auto;
	transform: translateX(-10px);
}

.masterLayout h1{
	font-size: 40px;
}

.masterLayout h2{
	font-size: 15px;
	font-style: italic;
	line-height: 20px;
	color: #2f3472;
}

.headLil {
	font-size:	0.4em;
	margin-bottom: 0.6em;
}

.appContainerHeader {
	background-color: white;
	color: black;
	text-align: center;
	padding: 15px;
}

